<main class="m-3">
    <div class="container marketing">
        <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Nuestra primera sede.   <span class="text-muted">Donde todo comenzó.</span></h2>
              <p class="lead">Calle 123 #45-67, Barrio Imaginario, Bogotá, Colombia.</p>
              <br>
              <p class="lead">L-V 10:00am - 8:00pm</p>
            </div>
            <div class="col-md-5">
              <!--<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->
              <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="assets/img/pexels-charles-parker-5845659.jpg" alt="sede-bogota">
            </div>
          </div>
      
          <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">En ciudades aledañas. <span class="text-muted">Cada vez más cerca.</span></h2>
              <p class="lead">L-V 10:00am - 8:00pm</p>
              <br>
              <p class="lead">Carrera 89 #22-34, Barrio Ficticio, Soacha, Colombia</p>
              <br>
              <p class="lead">Calle 56 #10-89, Sector Imaginario, Chía, Colombia</p>
              <br>
              <p class="lead">Avenida 20 #5-76, Barrio Soñado, Girardot, Colombia</p>
            </div>
            <div class="col-md-5 order-md-1">
              <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="assets/img/pexels-allan-mas-5623693.jpg" alt="sede-bogota">
            </div>
          </div>
      
          <hr class="featurette-divider">
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Puedes buscarnos en. <span class="text-muted">Google Maps - Waze.</span></h2>
              <p class="lead">Solamente tienes que poner "Aseguradora Ortiz" y la sede que quieres visitar, te esperamos!</p>
            </div>
            <div class="col-md-5">
              <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="assets/img/pexels-ingo-35969.jpg" alt="sede-bogota">
            </div>
          </div>
    </div>
</main>