<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              La mejor decisión <br />
              <span class="text-muted">de tu vida</span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">
                Bienvenido a nuestro portal de clientes. Aquí, tu tranquilidad es nuestra prioridad. Inicia sesión para acceder a tus pólizas, gestionar tus reclamaciones y obtener información personalizada sobre cómo protegemos lo que más valoras. Juntos, construimos un futuro seguro. ¡Tu tranquilidad comienza aquí!
            </p>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form>
                    
                  <!-- Email input -->
                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="email" id="form3Example3" class="form-control" />
                    <label class="form-label" for="form3Example3">Correo</label>
                  </div>
  
                  <!-- Password input -->
                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="password" id="form3Example4" class="form-control" />
                    <label class="form-label" for="form3Example4">Contraseña</label>
                  </div>
                  
                  <!-- Checkbox -->
                  <div class="form-check d-flex mb-4">
                    <input class="form-check-input me-2 color-gris" type="checkbox" value="" id="form2Example33" checked />
                    <label class="form-check-label" for="form2Example33">
                      Recordarme
                    </label>
                  </div>
  
                  <!-- Submit button -->
                  <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-secondary btn-block mb-4">
                    Ingresar
                  </button>
  
                  <!-- Register buttons -->
                  <div class="text-center">
                    <p>O ingresar con:</p>
                    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-secondary btn-floating mx-1">
                        <i class="bi bi-facebook"></i>
                    </button>
  
                    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-secondary btn-floating mx-1">
                        <i class="bi bi-google"></i>
                    </button>
  
                    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-secondary btn-floating mx-1">
                        <i class="bi bi-twitter"></i>
                    </button>
                  </div>
                </form>
                <p class="mt-4">No tienes cuenta? <a href="registro" class="text-muted">Registrate</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->