<main>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" aria-label="Slide 1" class="active" aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <!--<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>-->
          <img class="bd-placeholder-img" src="assets/img/pexels-jasmin-wedding-photography-619951-1415131.jpg" alt="carousel1">
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Bienvenido.</h1>
              <p>Confía en nuestros expertos. Te guiamos para elegir la mejor opción de seguro, ¡sin sorpresas y con total transparencia!</p>
              <p><a class="btn btn-lg btn-secondary" href="contacto">Contactanos</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <!--<<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>-->
          <img class="bd-placeholder-img" width="100%" height="100%" src="assets/img/pexels-hngstrm-179352.jpg" alt="carousel2">
          <div class="container">
            <div class="carousel-caption text-muted">
              <h1>Generamos confianza.</h1>
              <p>Tu tranquilidad, nuestra prioridad. Asegúrate de que tú y tu familia estén protegidos ante cualquier imprevisto.</p>
              <p><a class="btn btn-lg btn-secondary" href="contacto">Contactanos</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <!--<<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>-->
          <img class="bd-placeholder-img" width="100%" height="100%" src="assets/img/pexels-dejongwout-571169.jpg" alt="carousel3">
          <div class="container">
            <div class="carousel-caption text-end text-dark">
              <h1>Este es un espacio seguro.</h1>
              <p>Creamos esta app para que puedas consultar y contratar servicios.</p>
              <p><a class="btn btn-lg btn-secondary" href="login">Iniciar sesion</a></p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
  
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  
    <div class="container marketing">
      <h1 class="display-4 pb-5 text-center">Productos destacados</h1>
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <!--<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->
          <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="assets/img/pexels-david-alberto-carmona-coto-434794-1151418.jpg" alt="seguro-de-vida">
          <h2>Seguro de vida</h2>
          <p>Una inversión en tranquilidad. Proporciona apoyo financiero a tus seres queridos en caso de que faltes, asegurando su bienestar y estabilidad económica.</p>
          <p><a class="btn btn-secondary" href="productos">Ver detalles »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <!--<<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->
          <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="assets/img/pexels-lastly-699122.jpg" alt="seguro-de-celular">
          <h2>Seguro de celular</h2>
          <p>Es tu mejor aliado para proteger tu dispositivo ante daños, robos o pérdidas. Con coberturas que incluyen reparaciones y/o reemplazos.</p>
          <p><a class="btn btn-secondary" href="productos">Ver detalles »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <!--<<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->
          <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="assets/img/pexels-pixabay-163185.jpg" alt="seguro-de-viaje">
          <h2>Seguro de viaje</h2>
          <p>Te brinda la protección que necesitas mientras exploras el mundo. Con coberturas que incluyen atención médica, cancelaciones y pérdida de equipaje,</p>
          <p><a class="btn btn-secondary" href="productos">Ver detalles »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  
      <hr class="featurette-divider">
  
      <section>
        <div class="row d-flex justify-content-center">
          <div class="col-md-10 col-xl-8 text-center">
            <h1 class="display-4 pb-2 text-center">Testimonios</h1>
            <p class="mb-4 pb-2 mb-md-5 pb-md-0">
              Nuestro compromiso es brindar la mejor protección y servicio. Pero no solo lo decimos nosotros, escucha lo que nuestros clientes tienen que decir. Sus experiencias son la prueba de que estamos aquí para cuidar lo que más valoran.
            </p>
          </div>
        </div>    
        <div class="row text-center">
          <div class="col-md-4 mb-5 mb-md-0">
            <div class="d-flex justify-content-center mb-4">
              <img src="assets/img/testimonials-cristian.jpg"
                class="rounded-circle shadow-1-strong" width="150" height="150" />
            </div>
            <h5 class="mb-3">Cristian Castro</h5>
            <h6 class="text-secondary mb-3">Seguro de vida</h6>
            <p class="px-xl-3">
              Contraté un seguro de vida, no solo pensando en mí, sino en la seguridad de mi familia. Después de un accidente inesperado, supe que había tomado la decisión correcta. Mi familia recibió el apoyo que necesitaba en un momento tan difícil. Ahora puedo vivir con la tranquilidad de saber que están protegidos. ¡Recomiendo este seguro a todos!
            </p>
            <ul class="list-unstyled d-flex justify-content-center mb-0">
              <li>
                <i class="bi bi-star-fill text-warning" style="font-size: x-large;"></i>
              </li>
              <li>
                <i class="bi bi-star-fill text-warning" style="font-size: x-large;"></i>
              </li>
              <li>
                <i class="bi bi-star-fill text-warning" style="font-size: x-large;"></i>
              </li>
              <li>
                <i class="bi bi-star-fill text-warning" style="font-size: x-large;"></i>
              </li>
              <li>
                <i class="bi bi-star-half text-warning" style="font-size: x-large;"></i>
              </li>
            </ul>
          </div>
          <div class="col-md-4 mb-5 mb-md-0">
            <div class="d-flex justify-content-center mb-4">
              <img src="assets/img/testimonials-juliana.jpeg"
                class="rounded-circle shadow-1-strong" width="150" height="150" />
            </div>
            <h5 class="mb-3">Juliana Gomez</h5>
            <h6 class="text-secondary mb-3">Seguro de celular</h6>
            <p class="px-xl-3">
              ¡El seguro de mi celular fue una gran decisión! Después de que se me cayó y se rompió la pantalla, la reparación fue rápida y sin complicaciones. Me siento mucho más tranquila sabiendo que estoy protegida.
            </p>
            <ul class="list-unstyled d-flex justify-content-center mb-0">
              <li>
                <i class="bi bi-star-fill text-warning" style="font-size: x-large;"></i>
              </li>
              <li>
                <i class="bi bi-star-fill text-warning" style="font-size: x-large;"></i>
              </li>
              <li>
                <i class="bi bi-star-fill text-warning" style="font-size: x-large;"></i>
              </li>
              <li>
                <i class="bi bi-star-fill text-warning" style="font-size: x-large;"></i>
              </li>
              <li>
                <i class="bi bi-star-fill text-warning" style="font-size: x-large;"></i>
              </li>
            </ul>
          </div>
          <div class="col-md-4 mb-0">
            <div class="d-flex justify-content-center mb-4">
              <img src="assets/img/testimonials-ivan.jpg"
                class="rounded-circle shadow-1-strong" width="150" height="150" />
            </div>
            <h5 class="mb-3">Ivan Sierra</h5>
            <h6 class="text-secondary mb-3">Seguro de viaje</h6>
            <p class="px-xl-3">
              Soy fan de mi equipo y lo acompaño a todos lugares. Durante mi viaje, perdí mi equipaje y me sentí angustiado. Gracias a mi seguro de viaje, el proceso de reclamación fue sencillo y rápido. Ahora viajo con la tranquilidad de saber que estoy protegido ante cualquier imprevisto.
            </p>
            <ul class="list-unstyled d-flex justify-content-center mb-0">
              <li>
                <i class="bi bi-star-fill text-warning" style="font-size: x-large;"></i>
              </li>
              <li>
                <i class="bi bi-star-fill text-warning" style="font-size: x-large;"></i>
              </li>
              <li>
                <i class="bi bi-star-fill text-warning" style="font-size: x-large;"></i>
              </li>
              <li>
                <i class="bi bi-star-fill text-warning" style="font-size: x-large;"></i>
              </li>
              <li>
                <i class="bi bi-star-half text-warning" style="font-size: x-large;"></i>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div><!-- /.container -->  
  </main>
